.menu {
    display: flex;
    justify-content: space-between;
    width: 25em;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1em;
}

.menu__group {
    display: flex;
}

.menu__item {
    flex-grow: 1;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.menu__item--no-left-border{
    border-left: 0px;
}
.menu__item--no-right-border{
    border-right: 0px;
}


.menu__item--highlight {
    background-color: #0066cc;
    color: white; 
}