/* Globalni styly */
:root {
  --color-primary: #ff9301;
  --color-heading: #0b0b15;
  --color-text: #555555;
  --color-form-border: #bbbbbb;
  --color-separator: #eeeeee;
  --color-bg: #f7f7ff;
  --font-family: 'Roboto', sans-serif;
  --color-bg-primary: rgba(255, 145, 1, 0.5);
  --color-brightest: white;
}

* {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.bg--primary {
  background-color: var(--color-bg);
}

.bg--secondary {
  background-color: var(--color-brightest);
}

/* Header */
.header {
  position: relative;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: -50%;
  right: -10%;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  z-index: -1;
}


.header__content {
  display: flex;
}

.header__info {
  padding: 2em 0;
}

.header__preheading {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-heading);
}

.header__heading {
  margin: 0;
  padding: 0;
  font-weight: 900;
  line-height: 1.1;
}

.header__heading--primary {
  font-size: 6em;
  color: var(--color-heading);
}

.header__heading--secondary {
  font-size: 2em;
  color: var(--color-primary);
  line-height: 1.2;
}

.header__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__img {
  position: relative;
  height: 95%;
  width: auto;
}

/* nav */
.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 4em 0 0 0;
}

.nav__item {
  padding: 0 1em 0 0;
}

.text--secondary {
  color: var(--color-text);
}

.nav__link {
  text-decoration: none;
  color: var(--color-text);

  white-space: nowrap;

}

.nav__link:hover {
  text-decoration: underline var(--color-primary) 3px;
  text-underline-offset: 5px;
}

/* Layout a kontejnery */
.layout,
.header__content,
.separator,
.footer {
  max-width: 1140px;
  margin: 0 auto;
}

.container {
  display: flex;
  gap: 1em;
}

.container--spaced {
  padding: 0 0 2em 0;
}

.container--primary {
  padding: 2em 0 0 0;
  margin: 1em 0 0 0;
  gap: 4em;
}



.container--item {
  display: flex;
  align-items: center;
}

/* Separator */
.separator {
  background: url(img/border-dark.png) repeat-x center center;
  background-size: 150px;
  height: 8px;
  margin: 2em 0;
}

/* Padding */
.padding--large {
  padding: 2em;
}

.padding--medium {
  padding: 1em;
}

.padding--bottom{
  padding-bottom: 2em;
}



/* Card*/
.card--center {
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.3em;
}

.card--with-photo {
  flex-direction: column;
}

.card__part--large {
  flex: 3;
}

.card__part--small,
.container__small-item {
  flex: 1;
}

.card__image--primary {
  background-color: var(--color-primary);
  width: 100%;
  border-radius: 50%;
}

.card__caption {
  display: flex;
  flex-direction: column;
}

.card__heading--primary {
  font-size: 2em;
  font-weight: 900;
}

.card__heading--secondary {
  color: var(--color-primary);
  font-weight: 400;
}

.card__heading {
  margin: 0.5em 1em;
  margin-top: 1.5em;
}

.card__text {
  margin: 0 1em;
  color: var(--color-text);
}

.card--decorated {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 1em;
  background-color: var(--color-brightest);
}

.card--decorated::before {
  content: "";
  position: absolute;
  top: -70px;
  left: -25px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: var(--color-primary);
  z-index: -1;
}

.card__icon {
  margin: 0 1em;
  width: 60px;
  height: 60px;
}

.card__heading--tertiary {
  margin: 1em;
  text-align: center;
}

.card--primary {
  background-color: var(--color-bg);
  border-radius: 0.3em;
  flex-direction: row;
  align-items: center;
  padding: 2em;
}

.border-left-solid {
  border-left: 2px solid var(--color-separator);
}

.card__period {
  margin-bottom: 0.5em;
}

.card__time {
  color: var(--color-text);
}

.card__tag {
  background-color: var(--color-primary);
  border-radius: 0.3em;
  padding: 0.3em;
  width: 35%;
  text-align: center;
  margin: 0.8em 0;
  color: var(--color-brightest);
}

.card__tag--highlighted {
  background-color: var(--color-text);
}

.card__image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.card__text--portfolio {
  margin: 1em 0;
}

.card__date {
  font-size: 0.7em;
  color: var(--color-text);
}

.card__heading--small {
  margin: 1em 0;
  margin-bottom: 0;
}

/* Headings a texty */
.container__heading {
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-bottom: 1em;
  padding-top: ;
  
}

.container__heading::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  z-index: -1;
}

.section__spaced--normal{
  margin: 1em 0 0 0;
}

.section__spaced--large{
  margin: 4vw 0 0 0;
}

.container__text--primary {
  padding: 0 0 1em 0;
}

.container__paragraph {
  margin: 1em 0;
  color: var(--color-text);
}

.container__subheading {
  margin: 1em 0;
}

.container__icon {
  width: 1.5em;
  height: auto;
}


.container__text--secondary {
  font-weight: 900;
  color: var(--color-heading);
  font-style: normal;
}

.container__text--secondary a {
  text-decoration: none;
  color: var(--color-heading);
}

.embed--responsive {
  width: 100%;
  height: 30vh;
  border: 0.2em solid var(--color-brightest);
  filter: grayscale(100%);

}

.embed {
  padding: 1em 0;
}

.form__group {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name adres"
    "subject subject"
    "comment comment"
    "button button";
}

.form__field--name {
  grid-area: name;
}

.form__field--email {
  grid-area: adres;
}

.form__field--subject {
  grid-area: subject;
}

.form__field--comment {
  grid-area: comment;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid var(--color-form-border);
  box-sizing: border-box;
}

.form__button {
  grid-area: button;
  padding: 1em;
  color: var(--color-brightest);
  background-color: var(--color-heading);
  border: 0;
  border-radius: 0.3em;
}

.container--list {
  flex-direction: column;
}

.container--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  gap: 1em
}

.container__heading--secondary {
  margin: 0;
}

.footer {
  display: flex;
  padding: 1em;
  align-items: center;
}

.padding--small--left {
  padding: 0 1em;
}

.footer__copy {
  text-align: end;
}

.social__icon {
  width: 2em;
  height: auto;
}

/* Media Queries */


@media screen and (max-width: 1199px) {
  .header::before {
    top: -20%;
    right: -12%;
  }

  .layout,
  .header__content,
  .separator,
  .footer {
    padding: 0 4vw;

  }

}

@media screen and (max-width: 959px) {

  .header__image,
  .header::before {
    display: none;
  }

  .container,
  .container--primary {
    flex-direction: column;
    gap:1em;
  }

  .card--decorated::before {
    top: -70px;
    left: -25px;
  }



  .container--row {
    flex-direction: row;
  }

  .card__tag {
    width: 60%;
  }

  .card__image--primary {
    width: 50%;

  }





  .footer {
    margin: 1em 0;
  }


  .padding--large {
    padding: 1em;
  }

  .container__heading {
    margin: 1em 0 0 0;
  }

  .text--secondary {
    width: 50%;
  }

}

@media screen and (max-width: 559px) {
  .header__heading--primary {
    font-size: 4em;
  }





  .border-left-solid {
    border: 0;
  }
  .separator{
    margin: 0.5em 0;
  }

  .nav {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap:1em;
    padding:0;
  }

  .nav__item {
    background-color: var(--color-primary);
    padding: 1em 0;
    font-size: 0.9em;
    text-align: center;
    border-radius: 0.3em;
  }

  .nav__link {
    color: var(--color-heading);
  }

  .card {
    flex-direction: column;
  }


  .container--sm--column {
    flex-direction: column;
  }

  .card--secondary {
    flex-direction: row;
    justify-content: start;
  }

  .card--primary {
    padding: 1em;
  }

  .card--primary {
    align-items: start;
  }

  .card__heading,
  .card__text {
    margin-left: 0;
  }

  .form__group {
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "adres"
      "subject"
      "comment"
      "button";
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }

  .text--secondary{
    margin: 1em 0;
    width: 100%;
  }
}