.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.item {
  padding: 1em;
  border: 1px solid black;
  margin:0;
}

.item--no-border-bottom {
    border-bottom: none;
}

.item--no-border-top {
    border-top: none;
}

.item--no-border-left{
    border-left: none;
}


.pondeli {
  grid-area: 2/1;
}

.utery {
  grid-area: 3/1;
}

.streda {
  grid-area: 4/1;
}

.ctvrtek {
  grid-area: 5/1;
}

.patek {
  grid-area: 6/1;
}

.cislo_1{
    grid-area: 1/2;
}

.cislo_2{
    grid-area: 1/3;
}

.cislo_3{
    grid-area: 1/4;
}

.cislo_4{
    grid-area: 1/5;
}

.cislo_5{
    grid-area: 1/6;
}

.cislo_6{
    grid-area: 1/7;
}


.po{
    grid-row: 2;
}

.ut{
    grid-row:3;
}

.st{
    grid-row:4;
}

.ct{
    grid-row:5;
}

.pa{
    grid-row:6;
}

.hod_1_zac{
    grid-column-start: 2;
}

.hod_1_ko{
    grid-column-end: 3;
}

.hod_2_zac{
    grid-column-start: 3;
}

.hod_2_ko{
    grid-column-end: 4;
}

.hod_3_zac{
    grid-column-start: 4;
}

.hod_3_ko{
    grid-column-end: 5;
}

.hod_4_zac{
    grid-column-start: 5;
}

.hod_4_ko{
    grid-column-end: 6;
}

.hod_5_zac{
    grid-column-start: 6;
}

.hod_5_ko{
    grid-column-end: 7;
}

.hod_6_zac{
    grid-column-start: 7;
}

.hod_6_ko{
    grid-column-end: 8;
}